<div class="row">
    <div class="tabContainer"
        style="height: auto;overflow: hidden;display: flex;/*! flex-direction: row; */flex-wrap: wrap;"> <!--replace with premade class-->
        <div id="smGameSettingTab" class="tab leftRightButtonTop clickAble"
            onclick="options.selectTab('settingsGameContainer', this)" style="float: left;flex-grow: 1;">
            <h5>Song Info</h5>
        </div>
        <div id="smGameSettingTab" class="tab leftRightButtonTop clickAble"
            onclick="options.selectTab('settingsGameContainer', this)" style="float: left;flex-grow: 1;">
            <h5>Stats</h5>
        </div>
        <div id="smGameSettingTab" class="tab leftRightButtonTop clickAble"
            onclick="options.selectTab('settingsGameContainer', this)" style="float: left;flex-grow: 1;">
            <h5>Anime Info</h5>
        </div>
    </div>
</div>