#qpOptionContainer {
    padding-left: 10px;
    width: auto;
}
.indexbot-qpicon-width {
    width: 30px;
    height: 100%;
}
.indexbot-panel {
    background-color: #424242;
}
.indexbot-qpTabContaner {
    height: auto;
    overflow: hidden;
    display: flex;
}
.indexbot-qpTab {
    float: left;
    flex-grow: 1;
}