.tab-modal .tabContainer {
    background-color: #1b1b1b;
    height: auto;
    overflow: hidden;
}
.indexbot-settings {
    max-height: 330px;
    overflow: hidden;
    position: relative;
}
.table > tbody > tr:first-child {
    background-color: initial;
}
.form-control-inline {
    display: inline;
}
.indexbotSettingsTable {
    margin-bottom: 0px;
}